<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body class="index">
    <h1>List of Articles</h1>
    <% if(user) { %>
        <div class="users">Welcome <%= user.fullName %></div>
    <%}%>
    <ul class="index-root">
        <% articles.forEach(article => { %>
        <h3><%= article.title %></h3>
        <p><%= article.description %></p>
        <p>Written by: <span><%= article.author %></span></p>
        <h5>likes. <span><%= article.likes %></span></h5>
        <a href="/articles/<%= article.slug %>">

        </a>
        <% }) %>
    </ul>
    <%if(session) { %>
        <a href="/articles/new" class="add">
          <button class="btn-add">Add article</button>
        </a>
        <% } %> <%if(!session){%>
        <a href="/users/login" class="add">
          <button class="btn-add">Add article</button>
        </a>
        <%}%>
            
            

    
</body>
</html>